<div id="dogList" *ngIf="students.length > 0">
  <h1>List of Student</h1>
  <ul>
    <li *ngFor="let student of students">{{student.firstName }}
    </li>
  </ul>
</div>

<div id="studentFormDiv" *ngIf="isShowForm">
  <h3>Add a new student</h3>

  <form id="studentForm" #studentForm="ngForm" (ngSubmit)="addStudent(studentForm)">
    <label for="firstName" >Student firstName:</label>
    <input type="text" name="firstName" id="firstName" [(ngModel)]="firstName" />
    <br/>
    <label for="lastName" >Student lastName:</label>
    <input type="text" name="lastName" id="lastName" [(ngModel)]="lastName" />
    <br/>
    <label for="Age" > Age :</label>
    <input type="text" name="Age" id="Age" [(ngModel)]="Age"/>
    <br/>
    <label for="eMail">Property:</label>
    <input type="text" name="eMail" id="eMail" [(ngModel)]="eMail">
    <br/>
    <button type="submit">Add student!</button>
  </form>
</div>
